---

---

<!DOCTYPE html>
<head lang="en">
  <title>About Me!</title>
  <meta name="author" content="zixuanz">
  <meta name="description" content="My portfolio">

  <!-- Required meta tags for bootstrap -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <!--Fonts Links-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--Customized StyleSheet-->
  <link rel="stylesheet" href="/assets/css/page_about.css" type="text/css">

</head>

<html>
<body>
  {% include navbar.html %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <img class="rounded float-left" src="/assets/img/about_self_l.JPG">
      </div>
      <div class="col-md-6">
        <article>
          <div style="float: right;"><div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="cd51279e-5e06-41d6-b1e6-eedfeb19755e"></div></div>

          Hello, I am Zixuan Z.<br>

          I graduated from Oregon State University as Master of Computer Science.<br>

          I currently work as Software Developer at EasyRent.<br>

          I currently work mostly on front end. I also had a little personal experience on Android.<br>

          Pascal brought me to programming world. But I am a fan of Java. <br>

          <hr>

          I prefer to considering user experience when design user interface. It is a interesting problem how to satisfy most people, specific when we design for mobile device.<br>

          Diversity of human bring lots of surprises.<br>

          <hr>
          And this a ticket to Mars!! I like space and I am glad one day I can fly to space by this way.
          <iframe src="https://mars.jpl.nasa.gov/participate/send-your-name/orion-first-flight/?action=getcert&e=1&pid=2&cn=446636&" width="750" height="307" scrolling="no" frameborder="0"></iframe>
        </article>
      </div>
    </div>
    <!--
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-2">
        <p>Certification</p>
        <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="cd51279e-5e06-41d6-b1e6-eedfeb19755e"></div>
      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-2">

      </div>
    </div>
  -->
  </div>

  <!--Seciton Sidebar for Scroll up-->
  {% include asidebar.html %}

  {% include footer.html %}

  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="/assets/js/include_asidebar.js"></script>
  <script type="text/javascript">
    (function() {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '//cdn.youracclaim.com/assets/utilities/embed.js';
      var o = document.getElementsByTagName('script')[0];
      o.parentNode.insertBefore(s, o);
      })();
  </script>
</body>
</html>
