---

---

<!DOCTYPE html>
<html>
  <head lang="en">
    <title>Welcome to ZixuanZ's Blog</title>
    <meta name="author" content="zixuanz">
    <meta name="description" content="My portfolio">

    <!-- Required meta tags for bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!--Fonts Links-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Customized CSS Stylesheet-->
    <link rel="stylesheet" href="/assets/css/page_index.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/blogs_style.css" type="text/css">

  </head>

  <body>

    <!--Section Jumbotron-->
    <div class="jumbotron">
      <div class="d-flex flex-row align-items-center">
        <img class="avatar-md m-2 img-thumbnail" src="https://avatars3.githubusercontent.com/u/6519274?v=3&s=400">
        <div class="intro-box m-3 p-4">
          <h2>Zixuan Z</h2>
          <p>Web Android</p>
          {% include social_links.html %}
        </div>
      </div>
    </div>


    <!--Section Navbar-->
    <!--
    <nav class="navbar navbar-toggleable-sm navbar-outline">
      <div class="collapse navbar-collapse" id="navbar_menu">
        <ul class="navbar-nav ml-auto navbar-non-collapse">
          <li class="nav-item"><a href="{{site.url}}/index.html" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="{{site.url}}/projects.html" class="nav-link">Projects</a></li>
          <li class="nav-item"><a href="{{site.url}}/blogs.html" class="nav-link">Blogs</a></li>
          <li class="nav-item"><a href="{{site.url}}/about.html" class="nav-link">About</a></li>
        </ul>
      </div>
    </nav>

    <div class="divider"></div>
-->
    {% include navbar.html %}


    <!--Section Latest Activity on Left and Userinfo on Right-->
    <div class="container-fluid" style="margin-top: 5%;">

      <div class="row">
        <!--SubSection General About-->
        <div class="col-md-4 push-md-8 text-center">
          <div id="intro_space">
            <div class="deco m-5 p3">
            </div>
            <article class="deco m-5 p-3">
              <h5>Welcome!</h5>
              <p>Hello everyone! This is ZixuanZ's blog. I will write down what I learned in my work and share my views here. Hope you enjoy here. Thanks!</p>
              {% include social_links.html %}
            </article>
            <div class="deco m-5 p3">
            </div>
          </div>
        </div>

        <!--SubSection Blog-->
        <div class="col-md-8 pull-md-4">
          <div id="blog_space">

            <!-- Pagination links -->
            <div class="pagination">
              <!--Previous Page-->
              <div class="mr-auto arrow-left">
              {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}">
                  <i class="material-icons">keyboard_arrow_left</i>
                </a>
              {% else %}
                <i class="material-icons">keyboard_arrow_left</i>
              {% endif %}
              </div>

              <!--Current Page NO. of Total-->
              <span class="md-auto">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

              <!--Next Page-->
              <div class="ml-auto arrow-right">
              {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}">
                  <i class="material-icons">keyboard_arrow_right</i>
                </a>
              {% else %}
                <i class="material-icons">keyboard_arrow_right</i>
              {% endif %}
              </div>
            </div>

            <!-- This loops through the paginated posts -->
            <div style="margin-top: 5%; margin-bottom: 5%;">
            {% for post in paginator.posts %}
              <div class="d-flex flex-row">
                <!--Section for Date-->
                <div class="date-outbox">
                  <div class="date-box">
                    <p class="ml-auto">{{ post.date | date: '%b %-d' }}</p>
                    <p class="ml-auto">{{ post.date | date: '%Y' }}</p>
                  </div>
                </div>

                <!--Section for Post Content-->
                <div class="post-box">
                  <div class="title-box">
                    <a class="blog-title" href="{{ post.url }}">{{ post.title }}</a>
                    <p>
                      <span class="date-cat-style">Category: <a class="category-style" href="blogs.html#cat_{{ post.category }}">{{ post.category }}</a> |</span>
                      {% for tag in post.tags %}
                        <a class="tag-style" href="blogs.html#tag_{{ tag | slugify }}">#{{ tag }}</a>
                      {% endfor %}
                    </p>
                  </div>
                  <div class="content">
                    {{ post.content | truncatewords: 25 }}
                    <a href="{{ post.url }}"><small class="pull-right text-muted">Read more</small></a>
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>

            <!-- Pagination links -->
            <div class="pagination">
              <!--Previous Page-->
              <div class="mr-auto arrow-left">
              {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}">
                  <i class="material-icons">keyboard_arrow_left</i>
                </a>
              {% else %}
                <i class="material-icons">keyboard_arrow_left</i>
              {% endif %}
              </div>

              <!--Current Page NO. of Total-->
              <span class="md-auto">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

              <!--Next Page-->
              <div class="ml-auto arrow-right">
              {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}">
                  <i class="material-icons">keyboard_arrow_right</i>
                </a>
              {% else %}
                <i class="material-icons">keyboard_arrow_right</i>
              {% endif %}
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <!--Seciton Sidebar for Scroll up-->
    {% include asidebar.html %}

    {% include footer.html %}

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script>
    $("document").ready(function(){
      $(".aside-inner").hover(function(){
        $(this).toggleClass("cursor");
      });

      $(".aside-inner").click(function(){
        $(window).scrollTop(0);
      });
    });
    </script>

  </body>
</html>
