

<style>

#navbar ul{
  width: 21rem;
  margin: 0;
  padding: 0;
  position: -webkit-sitcky;
  position: sticky;
  left:70%;
  background-color: black;
  border-radius: 0 0 1rem 1rem;
}

#navbar ul li{
  display: inline-flex;
}

#navbar ul li a {
    text-align: center;
    color: white;
}

#navbar ul li a:hover{
  color: white;
  font-style: italic;
}

.nav-divider{
  margin-bottom: 0;
  padding: 1px;
  background-color: black;
  display: block;
}

.sticky-top{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}


@media (max-width: 768px){
  #navbar ul{
    margin: auto;
    left:auto;
  }
}
</style>

<div class="nav-divider sticky-top"></div>
<div id="navbar" class="sticky-top">
  <ul>
    <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
    <li class="nav-item"><a href="/projects.html" class="nav-link">Projects</a></li>
    <li class="nav-item"><a href="/blogs.html" class="nav-link">Blogs</a></li>
    <li class="nav-item"><a href="/about.html" class="nav-link">About</a></li>
  </ul>
</div>
<!--
<nav class="navbar navbar-toggleable-sm navbar-outline sticky-top">
  <div class="collapse navbar-collapse" id="navbar_menu">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a href="{{site.url}}/index.html" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="{{site.url}}/projects.html" class="nav-link">Projects</a></li>

      <li class="nav-item"><a href="{{site.url}}/blogs.html" class="nav-link">Blogs</a></li>
      <li class="nav-item"><a href="{{site.url}}/about.html" class="nav-link">About</a></li>
    </ul>
  </div>
</nav>
-->
