<div class="nav-divider sticky-top"></div>
<div id="navbar" class="sticky-top">
  <ul>
    <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
    <li class="nav-item"><a href="/projects.html" class="nav-link">Projects</a></li>
    <li class="nav-item"><a href="/blogs.html" class="nav-link">Blogs</a></li>
    <li class="nav-item"><a href="/about.html" class="nav-link">About</a></li>
  </ul>
</div>
<!--
<nav class="navbar navbar-toggleable-sm navbar-outline sticky-top">
  <div class="collapse navbar-collapse" id="navbar_menu">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a href="{{site.url}}/index.html" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="{{site.url}}/projects.html" class="nav-link">Projects</a></li>

      <li class="nav-item"><a href="{{site.url}}/blogs.html" class="nav-link">Blogs</a></li>
      <li class="nav-item"><a href="{{site.url}}/about.html" class="nav-link">About</a></li>
    </ul>
  </div>
</nav>
-->
