

<style>

  .date-outbox{
    margin-right: 0;
    margin-top: 5%;
  }

  .date-box{
    margin: 0;
    border-top: double black;
    border-left: double black;
    border-bottom: double black;
    border-radius: 2px 0 0 2px;
  }

  .date-box > p{
    margin: 2px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .post-box{
    padding: 2%;
    border-left: double black;
    width: 100%;
  }

  .content a{
    display: block;
    right:100%;
    color: gray;
  }

  .arrow-left{
    margin-left: 20%;
    border-radius: 2px;
    background-color: black;
  }

  .arrow-right{
    margin-right: 20%;
    border-radius: 2px;
    background-color: black;
  }

  i{
    color: white;
    font-size: 3rem;
  }

</style>


<!-- Pagination links -->
<div class="pagination">
  <!--Previous Page-->
  <div class="mr-auto arrow-left">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">
      <i class="material-icons">keyboard_arrow_left</i>
    </a>
  {% else %}
    <i class="material-icons">keyboard_arrow_left</i>
  {% endif %}
  </div>

  <!--Current Page NO. of Total-->
  <span class="md-auto">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

  <!--Next Page-->
  <div class="ml-auto arrow-right">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">
      <i class="material-icons">keyboard_arrow_right</i>
    </a>
  {% else %}
    <i class="material-icons">keyboard_arrow_right</i>
  {% endif %}
  </div>
</div>


<!-- This loops through the paginated posts -->
<div style="margin-top: 5%; margin-bottom: 5%;">
{% for post in paginator.posts %}
  <div class="d-flex flex-row">
    <!--Section for Date-->
    <div class="date-outbox">
      <div class="date-box">
        <p class="ml-auto">{{ post.date | date: '%b %-d' }}</p>
        <p class="ml-auto">{{ post.date | date: '%Y' }}</p>
      </div>
    </div>

    <!--Section for Post Content-->
    <div class="post-box">
      <div class="title-box">
        <h4><a class="blog-title" href="{{ post.url }}">{{ post.title }}</a></h4>
        <p><small class="text-muted">Category: {{ post.category }}</small></p>
      </div>
      <div class="content">
        {{ post.content | truncatewords: 25 }}
        <a href="{{ post.url }}"><small class="text-right">Read more</small></a>
      </div>
    </div>
  </div>
{% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  <!--Previous Page-->
  <div class="mr-auto arrow-left">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">
      <i class="material-icons">keyboard_arrow_left</i>
    </a>
  {% else %}
    <i class="material-icons">keyboard_arrow_left</i>
  {% endif %}
  </div>

  <!--Current Page NO. of Total-->
  <span class="md-auto">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

  <!--Next Page-->
  <div class="ml-auto arrow-right">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">
      <i class="material-icons">keyboard_arrow_right</i>
    </a>
  {% else %}
    <i class="material-icons">keyboard_arrow_right</i>
  {% endif %}
  </div>
</div>
