<style>
.social-fa{
  color: black;
  font-size: 30px;
  padding-left: 3px;
  padding-right: 3px;
}

#social_link a{
  text-decoration: none;
}

</style>

<div id="social_link">
  <a target="_blank" href="https://github.com/zixuanz">
    <i class="fa fa-github social-fa"></i>
  </a>
  <a target="_blank" href="https://www.linkedin.com/in/zixuan-zhao-425b03b6?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BTSmjWae8RMaUqDwarYh7eg%3D%3D">
    <i class="fa fa-linkedin-square social-fa"></i>
  </a>
  <a target="_blank" href="#">
    <i class="fa fa-file social-fa"></i>
  </a>
</div>
