body{
  font-family: 'Raleway', sans-serif;
}

.jumbotron{
  background-color: white;
  padding-left: 10%;
}

.container-fluid{
  margin: 5% 10% 3% 10%;
}

img{
  width: 27rem;
}

article{
  padding-top: 5%;
}


iframe{
  -ms-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
}
