body{
  font-family: 'Raleway', sans-serif;
}

.jumbotron{
  margin: 0px;
  padding-bottom: 0;
  background-color: white;
}

.flex-row{
  margin-left: 10%;
}

.avatar-md{
  width: 100px;
  height: 100px;
}

.intro-box{
  border-left: solid 2px black;
}

.intro-box > p{
  margin: 2px;
}


.deco{
  border: double black;
  border-radius: 3px;
}

#blog_space{
  padding-left: 3%;
  padding-right: 3%;
  width: 100%;
}

#intro_space{
  position: -webkit-sitcky;
  position: sticky;
  top: 20%;
}
