
<!DOCTYPE html>
<head lang="en">
  <title>{{page.title}}</title>
  <meta name="author" content="zixuanz">
  <meta name="description" content="My portfolio">

  <!-- Required meta tags for bootstrap -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <!--Fonts Links-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--Customized StyleSheet-->
  <link rel="stylesheet" href="/assets/css/layout_page_post.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/blogs_style.css" type="text/css">
</head>

<html>
  <body>
    <!--Section Navbar-->
    {% include navbar.html %}

    <!--Section Jumbotron-->
    <div class="jumbotron">
      <div>
        <h3>{{ page.title }}</h3>
        <p><small>Post Time: {{ page.date | date: '%a, %b %-d, %Y %R' }}</small></p>
        <p>
          <small>Category:</small>
          <a class="category-style" href="/blogs.html#cat_{{ post.category }}">{{ page.category }}</a> |</span>
          {% for tag in page.tags %}
            <a class="tag-style" href="/blogs.html#tag_{{ tag | slugify }}">#{{ tag }}</a>
          {% endfor %}
        </p>

      </div>
    </div>

    <!--Main Area-->
    <div class="container-fluid">
      <div class="row">
        <!--SubSection for Blog Content-->
        <div class="col-md-8" id="blog_content">
          <article class="p-5">
            {{ content }}
          </article>
        </div>

        <!--SubSection for Blog Content-->
        <div class="col-md-4 PageNavigation">
          <div id="relative_blogs">
            <div class="d-flex" id="prev_blog">
              {% if page.previous.url %}
              <div class="triangle-left">
              </div>
              <div class="relative-box" style="border-radius: 0 0.2rem 0.2rem 0;">
                <a class="prev align-middle" href="{{page.previous.url}}">{{page.previous.title}}</a>
              </div>
              {% endif %}
            </div>
            <div class="d-flex" id="next_blog">
              {% if page.next.url %}
              <div class="relative-box" style="border-radius: 0.2rem 0 0 0.2rem;">
                <a class="next" href="{{page.next.url}}">{{page.next.title}}</a>
              </div>
              <div class="triangle-right">
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>


    <!--Section Footer-->
    {% include footer.html %}

  </body>
</html>
