
<!DOCTYPE html>
<head lang="en">
  <title>{{page.title}}</title>
  <meta name="author" content="zixuanz">
  <meta name="description" content="My portfolio">

  <!-- Required meta tags for bootstrap -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <!--Fonts Links-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/page_post.css">
</head>

<html>
  <body>
    {% include navbar.html %}

    <div class="jumbotron">
      <div>
        <h3>{{ page.title }}</h3>
        <p><small>Post Time: {{ page.date | date: '%a, %b %-d, %Y %R' }}</small></p>
        <p><small>Category: <a href="#">{{ page.category }}</a></small></p>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row blog-box">
        <div class="col-md-8">
          <article class="p-5">
            {{ content }}
          </article>
        </div>

        <div class="col-md-4 PageNavigation">
          <div class="d-flex">
            {% if page.previous.url %}
            <div class="triangle-left">
            </div>
            <div class="prev-box">
              <a class="prev align-middle" href="{{page.previous.url}}">{{page.previous.title}}</a>
            </div>
            {% endif %}
          </div>
          <div class="d-flex ml-5">
            {% if page.next.url %}
            <div class="next-box">
              <a class="next" href="{{page.next.url}}">{{page.next.title}}</a>
            </div>
            <div class="triangle-right">
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>


    <!--Section Footer-->
    {% include footer.html %}

  </body>
</html>
